<!DOCTYPE html>
<html>
<head>
  <title>Demo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="header" style="margin-bottom: 50px;">
  <% if logged_in_user %>
    <%= logged_in_user.username %> |
    <%= link_to 'Logout', logout_path %>
  <% else %>


    <%= link_to login_path do %>
      <%= image_tag 'login-icon.png', size: '24x24' %>
    <% end %>&nbsp;&nbsp;

    <%= link_to 'Register', register_path %>
  <% end %>
</div>

<div class="container-fluid">
  <%= yield %>
</div>

</body>
</html>
